<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <link rel="stylesheet" href="https://guide.pdis.run/assets/main.css">
    <link rel="stylesheet" href="/assets/main.css">
    <!-- <link rel="icon" type="image/png" href=""> -->
    <title>
      HEX Blog
      {% if title %} | {{ title }}{% endif %}
    </title>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="ma5-l ma4-m ma3">
    <skip-to>
      <a href="#main" class="skip-to">跳至主要內容區</a>
    </skip-to>
    <header class="header mw8 center mb5">
      <a href="/">
        <h1><img
          src="/assets/logo.svg"
          alt="HEX"
          width="200"></h1>
      </a>
    </header>
    <main class="mw8 center flex flex-wrap justify-between" id="main">
      <div class="flex-auto measure-wide">
        {{ content }}
      </div>
      <aside class="w5-l w-100 flex-shrink-0 pl5-l mt5-m flex flex-column gap4">
        <h2 class="f4 fw8">
          <span aria-hidden="true" class="mr1">&times;</span>
          關於 HEX
        </h2>
        <div>HEX 為隸屬於 <a href="">PDIS</a> 下的一個工作小組。專為公家機關數位服務的韌性能力做努力。</div>
        <h2 class="f4 fw8 mb3 mt4">
          <span aria-hidden="true" class="mr1">&times;</span>
          RSS
        </h2>
        <div>
          # TODO
          {% comment %} <a href="#">親和力</a> {% endcomment %}
        </div>
      </aside>
    </main>
    <footer class="mw8 center mt5">
      HEX, of Public Digital Innovation Space
    </footer>
  </body>
</html>