<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <link rel="stylesheet" href="https://guide.pdis.run/assets/main.css">
    <link rel="stylesheet" href="/assets/main.css">
    <!-- <link rel="icon" type="image/png" href=""> -->
    <title>
      HEX Blog
      {% if title %} | {{ title }}{% endif %}
    </title>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="ma5-l ma4-m ma4">
    <skip-to>
      <a href="#main" class="skip-to">跳至主要內容區</a>
    </skip-to>
    <header class="header mw8 center mb5-l mb4 bb bw3 pb5-l pb4">
      <a href="/">
        <h1 aria-label="HEX, 韌性 進步 親和" class="logo tc tl-l">{% svg "assets/logo.svg" %}</h1>
      </a>
    </header>
    <main class="mw8 center flex flex-wrap justify-between" id="main">
      <div class="flex-auto measure-wide">
        {{ content }}
      </div>
      <aside class="w5-l w-100 measure-wide flex-shrink-0 pl5-l flex flex-column gap4 mt6 mt0-l">
        <h2 class="f4 fw8">
          <span aria-hidden="true" class="f3 mr2">&#11820;</span>
          關於我們
        </h2>
        <div>HEX 為隸屬於 <a href="">PDIS</a> 下的一個工作小組。專為公家機關數位服務的韌性能力做努力。</div>
        <h2 class="f4 fw8 mb3 mt4">
          <span aria-hidden="true" class="f3 mr2">&#11820;</span>
          RSS
        </h2>
        <div>
          # TODO
          {% comment %} <a href="#">親和力</a> {% endcomment %}
        </div>
      </aside>
    </main>
    <footer class="mw8 center mt5 bt bw3 pt5-l pt4 footer">
      HEX, of Public Digital Innovation Space<br>
      <a href="https://github.com/PDIS/hex">原始碼</a>
    </footer>
  </body>
</html>