---
layout: main.liquid
---

<article class="nested-copy-separator nested-markdown">
<h2 class="f3 fw6 mt0">{{ title }}</h2>
<div class="">
  <a href="">{{ author }}</a>．
  {{ date | date: "%Y 年 %m 月 %d 日" }}
</div>

{{ content }}
</article>