@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
  --backgroundColor: #E4E2CF;
  --textColor: #272623;
  --secondaryTextColor: #404040;
  --mutedTextColor: #707070;
  --backgroundColorLayer1: #d5d3c1;
  --backgroundColorLayer2: #cac8b0;
  --linkColor: #1038c5;
  --borderColor: #a19f8c;
  --primaryColor: #1a1a17;
  --dangerColor: #CC3100;
  --warningColor: #ff6600;
}

@media (prefers-color-scheme: dark) {
  body {
    --backgroundColor: #272623;
    --textColor: #E4E2CF;
    --secondaryTextColor: #cfd5d5;
    --mutedTextColor: #b4b6b8;
    --backgroundColorLayer1: #373633;
    --backgroundColorLayer2: #473633;
    --linkColor: #7be7ff;
    --borderColor: #8b877c;
    --primaryColor: #f7f4db;
    --dangerColor: #ff7f7f;
    --warningColor: #ff6600;
  }
}

body {
  font-family: 'Overpass', 'PingFang TC','Noto Sans TC', sans-serif;
}

.logo svg {
  max-width: 96%;
  width: 24em;
}

.logo path[fill] {
  fill: var(--primaryColor);
}

.footer, .header {
  background: transparent;
  border-color: var(--primaryColor);
}

.nested-markdown td, .nested-markdown th {
  text-align: left;
  vertical-align: top;
  border: 1px solid var(--borderColor);
  padding: 0.5em;
  width: 1%;
}

.nested-markdown table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.nested-markdown ul {
  margin: 0;
  padding: 0 0 0 1em;
}
